<div class="card h-100 p-3 d-flex flex-column border rounded-sm@@if(typeof background !== 'undefined'){ @@background}">
    @@if(typeof title !== 'undefined'){<div class="card__value title">@@title</div>}
    @@if(typeof subtitle !== 'undefined'){<div class="card__subtitle subtitle">@@subtitle</div>}
    @@if(typeof list !== 'undefined' && list.length > 0){
    <ul class="card__list d-flex flex-column subtitle">
        @@for (var i = 0; i < list.length; i++) { <li class="card__list-item">`+list[i]+`</li>
            }
    </ul>
    }
    <div class="card__icon p-3 ml-auto mt-auto">
        <img src="@@icon" alt="Иконка">
    </div>
</div>