<div class="media-item">
    <div class="row">
        <div class="col-md-6">
            <a href="" class="media-item__poster icon-play rounded-sm overflow-hidden position-relative">
                <img src="@@image" class="cover-image" alt="Постер">
            </a>
        </div>
        <div class="col-md-6">
            <div class="media-item__body rounded-sm border">
                <h3 class="media-item__title title-lg font-weight-medium"><a href="">@@title</a></h3>
                <div class="media-item__time color-grey border border-bottom-0 d-flex justify-content-between align-items-center icon-calendar">@@time</div>
            </div>
        </div>
    </div>
</div>