<div class="project d-flex flex-column">
    <div class="project__header position-relative">
        <a href="" class="project__image d-block rounded-sm overflow-hidden">
            <img src="@@image" class="cover-image" alt="Фото проекта">
        </a>
        <div class="project__more d-flex justify-content-between w-100 z-2">
            <span role="button" class="project__favorite favorite-btn"></span>
            <ul class="project__info d-flex flex-wrap ml-lg-auto">
                <li class="project__info-item">11 x 13 м</li>
                <li class="project__info-item">124 м²</li>
                <li class="project__info-item">Одноэтажный</li>
                <li class="project__info-item">от 2,5 млн р</li>
            </ul>
        </div>
    </div>
    <div class="project__body border rounded-sm">
        <a href="" class="project__title title icon-arrow d-flex align-items-center justify-content-between">@@title</a>
        <div class="project__desc d-flex align-items-center color-grey">
            <div class="project__desc-text order-first flex-shrink-0">@@type</div>
            <span class="project__desc-line w-100"></span>
            <div class="project__desc-text order-last flex-shrink-0">@@material</div>
        </div>
    </div>
</div>