.form {
	&-wrapper {
		position: relative;
		&::before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: $accent;
			right: 20px;
			font-size: 20px;
			@media (min-width: $md4) {
				font-size: 26px;
				right: 28px;
			}
		}
	}
	// .form-control
	&-control {
		background: transparent;
		border-radius: 6px 6px 0px 0px;
		border: 1px solid $grey;
		border-bottom: 0;
		line-height: 140%;
		width: 100%;
		text-overflow: ellipsis;
		padding: 27px 20px 17px;
		color: $text !important;
		text-align: center;
		height: auto;
		font-size: 18px;
		font-weight: 500;
		line-height: 100%;
		&::placeholder {
			opacity: 1;
			color: #acacac;
		}
		&:focus {
			outline: none;
			color: inherit;
			border-color: inherit;
			background: transparent;
			box-shadow: none;
			border-color: $accent;
		}

		&._error {
			background: #ffdbdb;
			border-color: #ffdbdb;
		}
		&[type="time"] {
			position: relative;
			text-align: left;
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			&::-webkit-calendar-picker-indicator {
				opacity: 0;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				right: 20px;
				transform: translateY(-50%);
				cursor: pointer;
			}
		}
		&[type="date"] {
			position: relative;
			text-align: left;
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			&::-webkit-calendar-picker-indicator {
				opacity: 0;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				right: 20px;
				transform: translateY(-50%);
				cursor: pointer;
			}
		}
	}
	&__row {
		margin-top: 60px;
	}
	// .form__field
	&__field {
		position: relative;
		&::before {
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			border-top: 1px solid $grey;
			border-right: 1px solid $grey;
			cursor: pointer;
			transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					background: $accent;
					color: #fff;
					border-color: $accent;
				}
			}
		}
		&:has(input:focus) {
			&::before {
				background: $accent;
				color: #fff;
				border-color: $accent;
			}
		}
	}
	// .form__block
	&__block {
		gap: 20px;
	}
	&__caption {
		font-size: 26px;
		line-height: 120%;
		& + .popup__checkboxes {
			margin-top: 30px;
		}
	}
	// .form__header
	&__header {
		gap: 16px;
		& + .popup__checkboxes {
			margin-top: 30px;
		}
	}
	// .form__caption
	&__caption {
	}
	// .form__compare
	&__compare {
		display: flex;
		align-items: center;
		gap: 14px;
		font-size: 16px;
		font-weight: 500;
		line-height: 160%;
		transition: color 0.3s ease;
	}
	// .form__block-text
	&__block-text {
		font-size: 16px;
		font-weight: 500;
		line-height: 160%;
	}
	&__block-radio-btns {
		gap: 20px;
	}
	// .form__excursion
	&__excursion {
		padding: 20px 30px;
		gap: 20px;
	}
	// .form__excursion-icon
	&__excursion-icon {
		flex-shrink: 0;
		width: 50px;
		height: 50px;
	}
	// .form__excursion-body
	&__excursion-body {
		font-size: 16px;
		font-weight: 500;
		line-height: 160%;
	}
	// .form__excursion-title
	&__excursion-title {
	}
	// .form__excursion-desc
	&__excursion-desc {
		margin-top: 4px;
	}
	// .form__subtitle
	&__subtitle {
		margin-top: 30px;
		max-width: 523px;
	}
	&__blocks {
		margin-top: 38px;
		gap: 40px;
	}
}

.radio-btn {
	// .radio-btn__input
	&__input {
		&:checked {
			& + .radio-btn__field {
				&::before {
					background: #fff;
					border: 10px solid $accent;
				}
			}
		}
	}
	// .radio-btn__field
	&__field {
		font-size: 16px;
		font-weight: 500;
		line-height: 160%;
		display: flex;
		align-items: center;
		gap: 16px;
		cursor: pointer;
		&::before {
			content: "";
			width: 30px;
			height: 30px;
			flex-shrink: 0;
			background: #efe9e5;
			border: 1px solid #acacac;
			border-radius: 50%;
			transition: all 0.15s ease;
		}
	}
}

.label {
	font-size: 16px;
	font-weight: 500;
	line-height: 160%;
	margin-bottom: 20px;
}

textarea.form-control {
	height: 286px !important;
	resize: none;
}

// .file {
// 	display: block;
// 	// .file__input
// 	&__input {
// 	}
// 	// .file__btn
// 	&__btn {
// 		width: 100%;
// 		display: flex;
// 		&.btn {
// 			padding-left: 60px;
// 			justify-content: center;
// 			text-align: center;
// 			font-size: 20px;

// 			&::before {
// 				order: -1;
// 				position: absolute;
// 				top: 5px;
// 				left: 5px;
// 				bottom: 5px;
// 				margin: 0;
// 				font-size: 24px;
// 			}
// 		}
// 	}
// }
// .form__privacy {
// 	color: rgba($color: #fff, $alpha: 0.8);

// 	align-self: center;
// 	font-weight: 300;
// 	line-height: math.div(25, 16);
// 	font-size: 12px;
// 	@media (min-width: $md4) {
// 		font-size: 16px;
// 	}
// }

// <BUTTONS (a.btn+tab)>==============================

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	transition: all 0.3s ease;
	text-align: center;
	justify-content: space-between;
	align-items: center;
	border-radius: 100px;
	line-height: 1;
	padding: 16px 30px;
	gap: 16px;
	font-size: 14px;
	min-height: 50px;
	@media (min-width: $md5) {
		font-size: 18px;
	}
	&.icon-arrow {
		margin-right: 50px;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: calc(100% - 15px);
			width: 50px;
			height: 100%;
			background: transparent;
		}
		&::before {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 100%;
			width: 50px;
			height: 50px;
			font-size: 14px;
			border-radius: 50%;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: background-color 0.3s ease 0s, transform 0.3s ease, left 0.3s ease;
		}
	}
	&.btn-primary {
		background: #121212;
		border: 0;
		color: #fff;
		&::before {
			background: #121212;
			color: currentColor;
		}
		&:hover {
			background: $accent;
			color: #fff;
			&::before {
				background: $accent;
			}
		}
		&:focus {
			box-shadow: 0 0 0 0.2rem rgba($color: $accent, $alpha: 0.5);
		}
		&:not(:disabled):not(.disabled):active {
			background-color: darken($color: $accent, $amount: 15);
			border-color: darken($color: $accent, $amount: 15);
		}
	}
	&.btn-light {
		&::before {
			background: #fff;
			color: currentColor;
		}
		&:hover {
			background: $accent;
			color: #fff;
			border-color: $accent;
			&::before {
				background: $accent;
			}
		}
	}
	&.btn-secondary {
		background: $accent;
		border: 0;
		color: #fff;
		&::before {
			background: #fff;
			color: $text;
		}
		&:hover {
			background: darken($color: $accent, $amount: 10);
		}

		&:focus {
			box-shadow: 0 0 0 0.2rem rgba($color: $accent, $alpha: 0.5);
		}
		&:not(:disabled):not(.disabled):active {
			background-color: darken($color: $accent, $amount: 15);
			border-color: darken($color: $accent, $amount: 15);
		}
	}
	&.btn-white {
		border-radius: 6px 6px 0px 0px;
		padding: 20px 15px 15px;
		@media (min-width: $md4) {
			padding: 30px 20px 20px;
		}
		text-align: center;
		justify-content: center;
		border: 1px solid $grey;
		border-bottom: 0;
		@media (any-hover: hover) {
			&:hover {
				border-color: $accent;
				color: $accent;
			}
		}
	}
	&.btn-sm {
		@media (min-width: $md2) {
			padding: 20px 29px;
			gap: 50px;
			&::before {
				padding: 14px;
			}
		}
	}
	&:hover {
		&.icon-arrow {
			&::before {
				transform: rotate(45deg);
				left: calc(100% + 10px);
			}
		}
	}
}

.checkbox {
	// .checkbox__input
	&__input {
		&:checked {
			& + .checkbox__btn {
				background: $text;
				color: #fff;
				margin-right: 50px;
				&::before {
					@extend %ic, .icon-check;
					position: absolute;
					z-index: 1;
					top: 0;
					left: 100%;
					width: 50px;
					height: 50px;
					font-size: 14px;
					border-radius: 50%;
					background: $text;
					color: #fff;
					flex-shrink: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					transition: background-color 0.3s ease 0s, color 0.3s ease 0s, transform 0.3s ease, left 0.3s ease;
				}
			}
		}
	}
	// .checkbox__btn
	&__btn {
		position: relative;
		padding: 16px 30px;
		border-radius: 100px;
		background: #efe9e5;
		display: block;
		color: #121212;
		text-align: center;
		font-weight: 500;
		line-height: 100%;
		cursor: pointer;
		@media (min-width: $md5) {
			font-size: 18px;
		}
		transition: background-color 0.3s ease, color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background: $accent;
				color: #fff;
			}
		}
	}
}
