.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid transparent;
	z-index: 10;
	transition: border-color 0.3s ease, background-color 0.3s ease;
	background: #fff;

	&.header_home {
		@media (min-width: $md3) {
			background: transparent;
		}
		&.scroll {
			border-bottom: 1px solid transparent;
		}
		&.bordered {
			border-bottom: 1px solid #acacac;
		}
		@media (min-width: $md3) {
			.header__main {
				border-left: 1px solid #fff;
			}
		}
		.header__side {
			@media (min-width: $md3) {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	&.scroll {
		border-bottom: 1px solid #acacac;
		background-color: #fff !important;
		.header__side {
			opacity: 1 !important;
			visibility: visible !important;
		}

		@media (min-width: $md3) {
			.header__main {
				border-left: 1px solid #acacac !important;
			}
		}
	}
	.row {
		--bs-gutter-x: 0;
	}
	// .header__side
	&__side {
		min-height: 100%;
		padding: 10px 0;
		@media (min-width: $md3) {
			padding: 26px 0;
		}
	}
	// .header__logo
	&__logo {
		max-width: 275px;
	}
	// .header__tagline
	&__tagline {
		max-width: 202px;
		margin-bottom: 0;
	}
	// .header__main
	&__main {
		min-height: 100%;
		flex-direction: column;
		padding: 10px 0;
		@media (min-width: $md3) {
			border-left: 1px solid #acacac;
			padding: 30px 0 30px 30px;
			justify-content: flex-end;
			margin-left: -1px;
		}
		@media (min-width: $md1) {
			align-items: center;
			flex-direction: row;
			gap: 8px;
		}
		@media (min-width: $md0) {
			justify-content: space-between;
		}
		@media (min-width: $md-xxl) {
			gap: 16px;
			padding: 30px 0 30px 60px;
		}
	}
	// .header__menu
	&__menu {
	}
	// .header__actions
	&__actions {
		position: relative;
		gap: 6px;
		@media (min-width: $md3) {
			margin-top: 12px;
		}
		@media (min-width: $md1) {
			margin-top: 0;
		}
	}
	// .header__action
	&__action {
		@media (any-hover: hover) {
			&:hover {
				.header__action-btn {
					background: $accent;
					color: #fff;
				}
				.header__action-body {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	// .header__action-body
	&__action-body {
		position: absolute;
		top: calc(100% + 8px);
		right: 0;
		border-radius: 6px 6px 0px 0px;
		border-top: 1px solid $grey;
		border-right: 1px solid $grey;
		border-left: 1px solid $grey;
		padding: 20px 58px;
		background: #fff;
		font-size: 18px;
		font-weight: 500;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;
		&::after {
			content: "";
			position: absolute;
			bottom: 100%;
			left: 0;
			width: 100%;
			height: 8px;
		}
		& a {
			transition: color 0.3s ease;
		}
	}
	// .header__action-btn
	&__action-btn {
		padding: 10px;
		cursor: pointer;
		border-color: $grey !important;
		background: #fff;
		transition: background-color 0.3s ease, color 0.3s ease;
		width: 32px;
		height: 32px;
		font-size: 12px;
		@media (min-width: $md5) {
			font-size: 16px;
			width: 50px;
			height: 50px;
		}
		@media (any-hover: hover) {
			&:hover {
				background: $accent;
				color: #fff;
			}
		}
		&.active {
			background: $accent;
			color: #fff;
		}
	}
	// .header__search
	&__search {
		position: absolute;
		top: calc(100% + 8px);
		right: 0;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;
		&.active {
			opacity: 1;
			visibility: visible;
		}
	}
	// .header__search-input
	&__search-input {
		border-radius: 150px;
		border: 1px solid $grey;
		background: #fff;
		padding: 16px 20px;
		width: calc(100vw - 20px);
		@media (min-width: $md5) {
			width: 380px;
		}
		&:focus {
			border-color: $accent;
		}
	}
	// .header__search-btn
	&__search-btn {
		position: absolute;
		top: 4px;
		right: 4px;
		bottom: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $text;
		color: #fff;
		aspect-ratio: 1;
		font-weight: 300;
		font-size: 12px;
		border-radius: 50%;
	}
	// .header__menu-btn
	&__menu-btn {
	}
	// .header__callback
	&__callback {
		margin-left: 6px;
		@media (min-width: $md-xxl) {
			margin-left: 20px;
		}
	}
}

.menu {
	@media (max-width: $md3) {
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: rgba($color: $text, $alpha: 0.5);
		z-index: 10;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;
		.header.open-menu & {
			opacity: 1;
			visibility: visible;
		}
	}
	// .menu__body
	&__body {
		@media (max-width: $md3) {
			background: #fff;
			padding: 20px;
			width: 75%;
			min-width: 280px;
			min-height: 100%;
			margin-left: auto;
			transform: translateX(100%);
			.header.open-menu & {
				transform: none;
			}
		}
	}
	&__logo {
		max-width: 180px;
	}
	// .menu__list
	&__list {
		row-gap: 12px;
		font-size: 18px;
		gap: 12px;
		@media (min-width: $md-xxl) {
			gap: 36px;
		}
	}
	// .menu__item
	&__item {
		position: relative;
		@media (any-hover: hover) {
			&:hover {
				.submenu {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	// .menu__link
	&__link {
		transition: color 0.3s ease;
	}
	// .menu__arrow
	&__arrow {
	}
	// .menu__contacts
	&__contacts {
		font-size: 18px;
		font-weight: 500;
	}
	// .menu__contacts-item
	&__contacts-item {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
	// .menu__contacts-link
	&__contacts-link {
		display: flex;
		align-items: center;
		gap: 16px;
	}
	// .menu__socials
	&__socials {
		gap: 8px;
	}
	// .menu__social
	&__social {
		width: 50px;
		height: 50px;
	}
}

.submenu {
	display: none;
	&.active {
		display: flex;
	}
	flex-direction: column;
	gap: 16px;
	padding: 20px;

	@media (min-width: $md3) {
		position: absolute;
		z-index: 1;
		top: calc(100% + 8px);
		left: -1px;
		right: -1px;
		min-width: 324px;
		border-radius: 6px 6px 0px 0px;
		border-top: 1px solid $grey;
		border-right: 1px solid $grey;
		border-left: 1px solid $grey;
		text-align: center;
		width: fit-content;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
		display: flex;

		background-color: #fff;
		color: $text;

		&.active {
			opacity: 1;
			visibility: visible;
		}
	}
	// .submenu__item
	&__item {
		&:not(:last-child) {
			@media (min-width: $md3) {
				margin-bottom: 16px;
			}
		}
	}
	// .submenu__link
	&__link {
		display: inline-flex;
		align-items: center;
		gap: 16px;
		text-align: left;
		white-space: nowrap;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
		& span {
			border-radius: 4px;
			background: #efe9e5;
			color: #121212;
			padding: 4px;
			font-size: 14px;
			line-height: 100%;
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	padding: 0;
	background: rgba($color: #fff, $alpha: 0.8);
	color: $text;
	z-index: 11;
	border-radius: 50%;
	border-color: $grey !important;
	width: 32px;
	height: 32px;
	@media (min-width: $md5) {
		width: 50px;
		height: 50px;
	}
	@media (min-width: $md3) {
		display: none;
	}
	& span {
		display: block;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;
		pointer-events: none;
		padding: 2.5px 8px;

		&::before {
			content: "";
			display: block;
			height: 2px;
			width: 18px;
			@media (min-width: $md5) {
				width: 30px;
			}
			pointer-events: none;
			background: currentColor;
			transition: transform 0.3s ease 0s, width 0.3s ease 0s;
			will-change: transform;
		}
	}
	.header.open-menu & {
		background: #f9f9f9;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
				@media (min-width: $md2) {
					width: 40px;
				}
			}
			&:first-child {
				transform: translateY(7px);

				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(-7px);

				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
