@import "modules/config";
// @import "modules/navigation";
// @import "modules/rangeSlider";
// @import "modules/select";

.font-weight-semibold {
	font-weight: 600;
}

.font-weight-medium {
	font-weight: 500;
}

.masked {
	display: block;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='212' height='20' viewBox='0 0 212 20' fill='none'%3E%3Cg clip-path='url(%23clip0_2023_1749)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 -411C0 -410.964 1.91181e-05 -410.854 0.00013632 -410.517V-1.01709C0.00013632 4.50591 3.27189 8.98291 7.30781 8.98291H210.539C211.091 8.98291 211.539 9.43091 211.539 9.98291C211.539 10.5349 211.091 10.9829 210.539 10.9829H7.30783C3.2719 10.9829 0.00013632 15.4599 0.00013632 20.9829V420.983L0.000330628 430.983L0 -411Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2023_1749'%3E%3Crect width='212' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") -1px
				center / 35% auto no-repeat,
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='212' height='20' viewBox='0 0 212 20' fill='none'%3E%3Cg clip-path='url(%23clip0_2023_1751)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M212 431C212 430.964 212 430.854 212 430.517L212 21.0171C212 15.4941 208.728 11.0171 204.692 11.0171H1.461C0.908999 11.0171 0.460999 10.5691 0.460999 10.0171C0.460999 9.4651 0.908999 9.01709 1.461 9.01709H204.692C208.728 9.01709 212 4.54009 212 -0.98291L212 -400.983L212 -410.983L212 431Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2023_1751'%3E%3Crect width='212' height='20' fill='white' transform='matrix(-1 0 0 -1 212 20)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
				calc(100% + 1px) center / 35% auto no-repeat;
		@media (min-width: $md5) {
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='212' height='20' viewBox='0 0 212 20' fill='none'%3E%3Cg clip-path='url(%23clip0_2023_1749)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 -411C0 -410.964 1.91181e-05 -410.854 0.00013632 -410.517V-1.01709C0.00013632 4.50591 3.27189 8.98291 7.30781 8.98291H210.539C211.091 8.98291 211.539 9.43091 211.539 9.98291C211.539 10.5349 211.091 10.9829 210.539 10.9829H7.30783C3.2719 10.9829 0.00013632 15.4599 0.00013632 20.9829V420.983L0.000330628 430.983L0 -411Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2023_1749'%3E%3Crect width='212' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") -1px
					center / auto no-repeat,
				url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='212' height='20' viewBox='0 0 212 20' fill='none'%3E%3Cg clip-path='url(%23clip0_2023_1751)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M212 431C212 430.964 212 430.854 212 430.517L212 21.0171C212 15.4941 208.728 11.0171 204.692 11.0171H1.461C0.908999 11.0171 0.460999 10.5691 0.460999 10.0171C0.460999 9.4651 0.908999 9.01709 1.461 9.01709H204.692C208.728 9.01709 212 4.54009 212 -0.98291L212 -400.983L212 -410.983L212 431Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2023_1751'%3E%3Crect width='212' height='20' fill='white' transform='matrix(-1 0 0 -1 212 20)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
					calc(100% + 1px) center / auto no-repeat;
		}
		pointer-events: none;
	}
}

// .rounded {
// 	border-radius: 30px !important;
// 	@media (min-width: $md4) {
// 		border-radius: 50px !important;
// 	}
// }
// .rounded-md {
// 	border-radius: 20px !important;
// 	@media (min-width: $md4) {
// 		border-radius: 30px !important;
// 	}
// }
.rounded-sm {
	border-radius: 10px !important;
}

.title-xl {
	font-weight: 700;
	line-height: 100%;
	font-size: 40px;
	@media (min-width: $md2) {
		font-size: 60px;
	}
	@media (min-width: $md1) {
		font-size: 70px;
	}
	@media (min-width: $md0) {
		font-size: 90px;
	}
}

.title {
	font-weight: 700;
	line-height: 100%;
	font-size: 32px;
	@media (min-width: $md5) {
		font-size: 50px;
	}
	@media (min-width: $md2) {
		font-size: 60px;
	}
	@media (min-width: $md0) {
		font-size: 70px;
	}
}

.title-lg {
	font-weight: 700;
	line-height: 100%;
	font-size: 28px;
	@media (min-width: $md5) {
		font-size: 35px;
	}
	@media (min-width: $md1) {
		font-size: 40px;
	}
	@media (min-width: $md0) {
		font-size: 50px;
	}
}

.title-md {
	line-height: 110%;
	font-size: 28px;
	@media (min-width: $md5) {
		font-size: 30px;
	}
	@media (min-width: $md0) {
		font-size: 40px;
	}
}

.subtitle {
	line-height: 120%;
	font-size: 18px;
	@media (min-width: $md5) {
		font-size: 22px;
	}
	@media (min-width: $md2) {
		font-size: 26px;
	}
}

.bg-light {
	background: $light !important;
}

.color-green {
	color: $accent;
}

.color-grey {
	color: $grey;
}

.favorite-btn {
	&::before {
		@extend %ic, .icon-heart;
		transition: all 0.3s ease 0s;
	}
	width: 50px;
	height: 50px;
	font-size: 15px;
	border-radius: 50%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	text-decoration: none;
	color: inherit;
	@media (any-hover: hover) {
		&:hover {
			color: $accent;
		}
	}
	&.active {
		&::before {
			@extend %ic, .icon-heart-fill;
			color: $accent;
			animation: pulse 0.3s ease-in-out;
			@keyframes pulse {
				0% {
					transform: scale(1);
				}
				50% {
					transform: scale(1.4);
				}
				100% {
					transform: scale(1);
				}
			}
		}
	}
}

.bg-dark {
	background-color: $text !important;
}

.slick-arrow {
	position: static;
	vertical-align: middle;
	font-size: 0;
	background: transparent;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
	z-index: 2;
	width: 35px;
	height: 35px;
	@media (min-width: $md5) {
		height: 50px;
		width: 50px;
	}
	&::before {
		@extend %ic, .icon-arrow;
		font-size: 10px;
		@media (min-width: $md5) {
			font-size: 12px;
		}
	}
	@media (any-hover: hover) {
		&:hover {
			background: $accent;
			border-color: $accent;
			color: #fff;
		}
	}
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	&.slick-disabled {
		opacity: 0.6;
		pointer-events: none;
		// visibility: hidden;
	}
}

.slick-next {
	right: 0;
	&::before {
		transform: rotate(45deg);
	}
}

.slick-prev {
	left: 0;
	&::before {
		transform: rotate(-135deg);
	}
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======

//============ МОДУЛИ ====================
@import "modules/popup";
// @import "modules/navigation";
// @import "modules/select";
// @import "modules/stepper";
//============ МОДУЛИ ====================

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $mainColor;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

// $scrollbarColor: $orange;
// $scrollbarHover: darken(
// 	$color: $orange,
// 	$amount: 10,
// );

// ::-webkit-scrollbar {
// 	width: 8px;
// }
// ::-webkit-scrollbar-track {
// 	background: #fff;
// }
// ::-webkit-scrollbar-thumb {
// 	background: $scrollbarColor;
// 	border-radius: 8px;
// 	@media (any-hover: hover) {
// 		&:hover {
// 			background: $scrollbarHover;
// 		}
// 	}
// }

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============
